@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/*  Fonts  */
@font-face {
    font-family: 'raleway-regular';
    src: url('../fonts/raleway-regular.eot');
    src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular.woff') format('woff'),
         url('../fonts/raleway-regular.ttf') format('truetype'),
         url('../fonts/raleway-regular.svg#raleway-regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway-semibold';
    src: url('../fonts/raleway-semibold.eot');
    src: url('../fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-semibold.woff') format('woff'),
         url('../fonts/raleway-semibold.ttf') format('truetype'),
         url('../fonts/raleway-semibold.svg#raleway-semibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway-bold';
    src: url('../fonts/raleway-bold.eot');
    src: url('../fonts/raleway-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold.woff') format('woff'),
         url('../fonts/raleway-bold.ttf') format('truetype'),
         url('../fonts/raleway-bold.svg#raleway-bold') format('svg');
    font-weight: normal;
    font-style: normal;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_header .shadow{
    position: absolute;
    width: 100%;
    height: 100px;
    top: 65px;
    margin-bottom: -1px;
    background: url('../img/shadow.png') repeat-x;
}


.header{
    width: 100%;
    height: 150px;
    background-color: #F66D02; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 

}

header .logo{
    float: left;
    margin-top: 25px;
    width:9%;
    margin-left: 30px;
	
}

header nav{
    float: right;
    margin-top: 55px;
    margin-right: 100px;
}


header nav ul li{
    list-style: none;
    display: block;
    float: left;
    margin-left: 50px;
}

header nav ul li a {
    text-decoration: none;  
    font-family: "raleway-bold";
    font-size: 14px;
    transition: all .2s linear;
    color: #ffffff;
    font-weight: bold;
}

header nav ul li a:hover{
    color: #412669;
}



footer{
    padding: 35px 0;
    overflow: hidden;
}

footer .footer_logo{
    float: left;
}

footer .rights p{
    float: left;
    color: #838181;
    font-family: "raleway-regular";
    font-size: 13px;
    margin: 5px 0 0 40px; 
}

footer .rights p a{
    color: #777;
    font-family: "raleway-semibold";
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}

footer nav ul{
    float: right;
    overflow: hidden;
    list-style: none;
    margin-top: 5px; 
}

footer nav ul li{
    float: left;
    margin-left: 25px;
}

footer nav ul li a{
    color: #838181;
    font-family: "raleway-regular";
    font-size: 13px;
    text-decoration: none;

}

footer nav ul li a:hover{
    color: #616161;
}







.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
}

.profile-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.profile-image-container {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background: #ccc;
    cursor: pointer;
}

.profile-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.profile-image-container .add-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #ffffffb4;
}

.profile-image-container input[type="file"] {
    display: none;
}

.profile-container h2 {
    font-size: 1.5em;
    margin-top: 0;
    border-bottom: 2px solid #7e1178;
    padding-bottom: 5px;
    color: #333333;
    margin-bottom: 15px;
    font-family: "raleway-semibold";
}

.info-group {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.info-group p {
    margin: 0;
    font-size: 14px;
    width: 100%;
    font-family: "raleway-regular";
}

.info-group i {
    margin-right: 10px;
    color: #333333;

}

.info-group input[type="text"],
.info-group input[type="email"],
.info-group input[type="tel"],
.info-group input[type="date"],
.info-group textarea {
    display: none;
    width: 100%;
    padding: 5px;
    font-size: 14px;
    margin-left: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-family: "raleway-regular";
}

.edit-mode {
    display: none;

}

button {
    background: #7e1178;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 3px;
    transition: background 0.3s;
}

button:hover {
    background: #F66D02;
}
